@import url(sidebar.css);

[data-theme="light"] {
  color-scheme: light; /* from your config */

  --b1: 100% 0 0; /* base-100 */
  --b2: 98% 0 0; /* base-200 */
  --b3: 95% 0 0; /* base-300 */
  --bc: 21% 0.006 285.885; /* base-content */

  --p: 48% 0.243 264.376; /* primary */
  --pc: 93% 0.034 272.788; /* primary-content */

  --s: 47% 0.114 61.907; /* secondary */
  --sc: 96% 0.015 12.422; /* secondary-content */

  --a: 77% 0.152 181.912; /* accent */
  --ac: 38% 0.063 188.416; /* accent-content */

  --n: 14% 0.005 285.823; /* neutral */
  --nc: 92% 0.004 286.32; /* neutral-content */

  --in: 74% 0.16 232.661; /* info */
  --inc: 29% 0.066 243.157; /* info-content */

  --su: 76% 0.177 163.223; /* success */
  --suc: 37% 0.077 168.94; /* success-content */

  --wa: 82% 0.189 84.429; /* warning */
  --wac: 41% 0.112 45.904; /* warning-content */

  --er: 71% 0.194 13.428; /* error */
  --erc: 27% 0.105 12.094; /* error-content */
}

[data-theme="dark"] {
  color-scheme: dark; /* from your config */

  --b1: 25.33% 0.016 252.42; /* base-100 */
  --b2: 23.26% 0.014 253.1; /* base-200 */
  --b3: 21.15% 0.012 254.09; /* base-300 */
  --bc: 97.807% 0.029 256.847; /* base-content */

  --p: 62% 0.214 259.815; /* primary */
  --pc: 12% 0.042 264.695; /* primary-content */

  --s: 90% 0.182 98.111; /* secondary */
  --sc: 2% 0.042 264.695; /* secondary-content */

  --a: 77% 0.152 181.912; /* accent */
  --ac: 38% 0.063 188.416; /* accent-content */

  --n: 14% 0.005 285.823; /* neutral */
  --nc: 92% 0.004 286.32; /* neutral-content */

  --in: 74% 0.16 232.661; /* info */
  --inc: 29% 0.066 243.157; /* info-content */

  --su: 76% 0.177 163.223; /* success */
  --suc: 37% 0.077 168.94; /* success-content */

  --wa: 41% 0.112 45.904; /* warning */
  --wac: 71% 0.194 13.428; /* warning-content */

  --er: 63% 0.237 25.331; /* error */
  --erc: 17% 0.013 17.38; /* error-content */
}
