[data-theme="light"] {
  color-scheme: light; /* from your config */

  --b1: 98% 0.003 247.858; /* base-100 */
  --b2: 98% 0 0; /* base-200 */
  --b3: 98% 0.002 247.839; /* base-300 */
  --bc: 21% 0.006 285.885; /* base-content */

  --p: 0.2577 0.1035 259.71; /* primary */
  --pc: 100% 0 0; /* primary-content */

  --s: 60% 0.118 184.704; /* secondary */
  --sc: 12% 0.042 264.695; /* secondary-content */

  --a: 0.8102 0.1577 78.92; /* accent */
  --ac: 0.3564 0.0391 248.97; /* accent-content */

  --n: 0.3064 0.0875 265.72; /* neutral */
  --nc: 98% 0.003 247.858; /* neutral-content */

  --in: 74% 0.16 232.661; /* info */
  --inc: 29% 0.066 243.157; /* info-content */

  --su: 76% 0.177 163.223; /* success */
  --suc: 37% 0.077 168.94; /* success-content */

  --wa: 87% 0.169 91.605; /* warning */
  --wac: 41% 0.112 45.904; /* warning-content */

  --er: 71% 0.194 13.428; /* error */
  --erc: 27% 0.105 12.094; /* error-content */

  /* extra daisyUI variables */
  --rounded-btn: 0.5rem; /* from --radius-selector */
  --rounded-box: 0.5rem; /* from --radius-box */
  --rounded-badge: 0.25rem; /* from --radius-field */
  --border-btn: 2px; /* from --border */

  /* optional animations & depth */
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-focus-scale: 0.95;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}

[data-theme="dark"] {
  color-scheme: dark; /* from your config */

  --b1: 13% 0.028 261.692; /* base-100 */
  --b2: 21% 0.034 264.665; /* base-200 */
  --b3: 27% 0.033 256.848; /* base-300 */
  --bc: 96% 0.003 264.542; /* base-content */

  --p: 42% 0.199 265.638; /* primary */
  --pc: 97% 0.013 17.38; /* primary-content */

  --s: 50% 0.118 165.612; /* secondary */
  --sc: 98% 0.001 106.423; /* secondary-content */

  --a: 0.8102 0.1577 78.92; /* accent */
  --ac: 0.3564 0.0391 248.97; /* accent-content */

  --n: 27% 0.033 256.848; /* neutral */
  --nc: 98% 0.002 247.839; /* neutral-content */

  --in: 62% 0.214 259.815; /* info */
  --inc: 97% 0.014 254.604; /* info-content */

  --su: 72% 0.219 149.579; /* success */
  --suc: 98% 0.018 155.826; /* success-content */

  --wa: 70% 0.213 47.604; /* warning */
  --wac: 98% 0.016 73.684; /* warning-content */

  --er: 63% 0.237 25.331; /* error */
  --erc: 97% 0.013 17.38; /* error-content */

  /* extra daisyUI variables */
  --rounded-btn: 0.5rem;
  --rounded-box: 0.5rem;
  --rounded-badge: 0.25rem;
  --border-btn: 2px;

  /* optional animations & depth */
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-focus-scale: 0.95;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}
